body{
    background-color:#0d1219;
}
#jumbo-header{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    font-family: 'Russo One', sans-serif;
}

#jumbo-emoji{
    text-align: center;
}